{% extends "base.html" %}

{% block content %}
	<h1>mlist</h1>
	<hr>
	<br>
	<h2 class="alt">{% trans "Criado por" %} Ricardo Pescuma Domenecci.</h2>
	<h2 class="alt">{% trans "Muito obrigado a" %}
		<ul>
			<li><a href="http://www.famfamfam.com">http://www.famfamfam.com</a> {% trans "pelo ótimo conjunto de icones chamado Silk Icons, que são utilizados pelo site" %}</li>
			<li><a href="http://code.google.com/p/blueprintcss/">Blueprint CSS</a> {% trans "pelo CSS provido, que foi a base para o layout deste site" %}</li>
			<li><a href="http://google.com">Google</a> {% trans "que hospeda o site e provê o framework que faz ele funcionar" %}</li>
			<li>Joscha Feth Suttgart {% trans "pelo" %} 
				<a href="http://daily.profeth.de/2008/04/using-recaptcha-with-google-app-engine.html">{% trans "código Python" %}</a> 
				{% trans "para usar o reCaptcha e pela explicação de como usar" %}
				<a href="http://daily.profeth.de/2008/04/using-custom-django-template-helpers.html">{% trans "templates customizados do django" %}</a>
				{% trans "com o Google Apps Engine" %}</li>
		</ul>
	</h2>
	
	<span class="large">
		{% trans "Change log" %}:<br>
		<ul class="large">
			<li> 3.0 [24/05/2008] : {% trans "Correção do modo de armazenamento, listas privadas, começo da tradução do site" %}</li>
			<li> 2.0 [19/05/2008] : {% trans "My Lists, captchas para usuários não logados, Wiki syntax" %}</li>
			<li> 1.0 [18/05/2008] : {% trans "versão inicial do site" %}</li>
		</ul>
	</span>
	
{% endblock %}