{% extends "base.html" %}

{% block content %}
	<h1>mlist</h1>
	<hr>
	<br>
	<h2 class="alt">Criado por Ricardo Pescuma Domenecci.</h2>
	<h2 class="alt">Muito obrigado a
		<ul>
			<li><a href="http://www.famfamfam.com">http://www.famfamfam.com</a> pelo ótimo conjunto de icones chamado Silk Icons, 
				que são utilizados pelo site</li>
			<li><a href="http://code.google.com/p/blueprintcss/">Blueprint CSS</a> pelo CSS provido, que foi a base para o layout deste
				site</li>
			<li><a href="http://google.com">Google</a> que hospeda o site e provê o framework que faz ele funcionar</li>
			<li>Joscha Feth Suttgart pelo 
				<a href="http://daily.profeth.de/2008/04/using-recaptcha-with-google-app-engine.html">código Python</a> 
				para usar o reCaptcha e pela explicação de como usar
				<a href="http://daily.profeth.de/2008/04/using-custom-django-template-helpers.html">templates customizados do django</a>
				com o Google Apps Engine</li>
		</ul>
	</h2>
	
	<span class="large">
		Change log:<br>
		<ul class="large">
			<li> 2.0 [19/05/2008] : My Lists, captchas para usuários não logados, Wiki syntax</li>
			<li> 1.0 [18/05/2008] : versão inicial do site</li>
		</ul>
	</span>
	
{% endblock %}