<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ title|striptags|escape }}</title>

	<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/js/prettify.js"></script>
	
	<link type="text/css" rel="stylesheet" href="/css/SyntaxHighlighter.css"></link>
	<script language="javascript" src="/js/SyntaxHighlighter/shCore.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushDelphi.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushJava.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushJScript.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushPhp.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushPython.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushRuby.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushSql.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushVb.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushXml.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushCpp.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushCSharp.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushCss.js"></script>
	<script language="javascript" src="/js/SyntaxHighlighter/shBrushBash.js"></script>
	
  <!-- Framework CSS -->
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/fancy-type.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
  
</head>

<body onload="prettyPrint(); dp.SyntaxHighlighter.ClipboardSwf = '/js/SyntaxHighlighter/clipboard.swf'; dp.SyntaxHighlighter.HighlightAll('code');">

	<div style="border-bottom:30px solid #FFFFFF;">
		<div style="border-bottom:1px solid #C9D7F1; height: 22px;"> 
			<div style="float:left; height: 22px; padding-left:10px; padding-top:1px; padding-bottom:1px; font-size:13px;">
				<nobr>
					{% for menu in left_menus %}
						<span style="margin-right:10px;">
							{% if menu.url %}
								<a href="{{ menu.url }}">{{ menu.name|escape }}</a>
							{% else %}
								<b>{{ menu.name|escape }}</b>
							{% endif %}
						</span>
					{% endfor %}
				</nobr>
			</div>
			<div style="float:right; height: 22px; padding-right:10px; padding-top:1px; padding-bottom:1px; font-size:13px;">
				<nobr>
					{% for menu in right_menus %}
						<span style="margin-right:10px;">
							{% if menu.url %}
								<a href="{{ menu.url }}">{{ menu.name|escape }}</a>
							{% else %}
								<b>{{ menu.name|escape }}</b>
							{% endif %}
						</span>
					{% endfor %}
				</nobr>
			</div>
		</div>
	</div>
	
	<div class="container" style="width:80%;margin:0 auto;">  
		{% if trans_notfound %}
			<div class="error">Translation errors:<br>
			{% for nf in trans_notfound %}
				{{ nf|escape }} <br>
			{% endfor %}
			</div>
		{% endif %}
		{% for warning in warnings %}
			<div class="notice">{{ warning }}</div>
		{% endfor %}
		{% for error in errors %}
			<div class="error">{{ error }}</div>
		{% endfor %}
		{% for info in infos %}
			<div class="success">{{ info }}</div>
		{% endfor %}
		{% if infos or errors or warnings %}
			<div style="margin-bottom:40px;"></div>
		{% endif %}
		
		{% block content %}{% endblock %}
		
		<br />
		<br />
		<br />
	</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1073051-3");
pageTracker._initData();
pageTracker._trackPageview();
</script></body>
</html>