{% if page.items %}
	<ul class="large">
		{% for item in page.items %}
			<li>
				{% if item.bought %}
					<span class="quiet" style="text-decoration:line-through;">{{ item.text|wikiSL }}</span> 
					{% if page.isAuthor %}
						<span class="small quiet em" style="font-style:italic;">( {{ item.boughtBy|nick }} em {{ item.boughtDate|date:"d/m/Y g:i a" }} )</span> 
					{% endif %}
				{% else %}
					{{ item.text|wikiSL }}
				{% endif %}
				
				<span style="margin-left:40px;"> 
					{% if item.bought %}
						{% if page.isAuthor %}
							<form method="post" style="display: inline;"><input type="hidden" name="unbought" value="{{ item.id }}"><input type="image" src="/icons/basket_delete.gif" /></form> 
						{% else %}
							{% if item.boughtBy %}
							{% ifequal item.boughtBy user %}
								<form method="post" style="display: inline;"><input type="hidden" name="unbought" value="{{ item.id }}"><input type="image" src="/icons/basket_delete.gif" /></form> 
							{% endifequal %}
							{% endif %}
						{% endif %}
					{% else %}
						<form method="post" style="display: inline;"><input type="hidden" name="bought" value="{{ item.id }}"><input type="image" src="/icons/basket_add.gif" onClick="return window.confirm('{% trans "Deseja presentear o item selecionado?" %}');"/></form> 
					{% endif %}
					
					{% if page.isAuthor %}
						<form method="post" style="display: inline; margin-left:5px;"><input type="hidden" name="delete" value="{{ item.id }}"><input type="image" src="/icons/delete.gif" /></form> 
					{% endif %}
				</span>
			</li>
		{% endfor %}
	</ul>
{% endif %}
