{% extends "base.html" %}

{% block content %}

	<h2 class="alt"><a href="/list/new">{% trans "Nova lista" %}</a></h2>
	<p class="large">{% trans "Cria uma nova página com uma lista de itens que podem ser marcados como comprados" %}</p>
	
	<h2 class="alt"><a href="/wiki/new">{% trans "Nova página wiki" %}</a></h2>
	<p class="large">{% trans "Cria uma nova página em formato Wiki" %}</p>
	
	<h2 class="alt"><a href="/counter/new">{% trans "Novo contador" %}</a></h2>
	<p class="large">{% trans "Cria uma nova página com uma lista que armazena um dado numérico coletado ao passar do tempo" %}</p>
	
{% endblock %}