{% trans "Outras opções" %}:<br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="private" {% if form.private %}checked{% endif %} /> {% trans "Página privada" %} <i>{% trans "(apenas o criador pode vê-la)" %}</i><br />
&nbsp;&nbsp;&nbsp;&nbsp;{% trans "URL" %}: <input name="url" id="url" size="40" value="{{ form.url|escape }}" /> <i>{% trans "(opicional)" %}</i><br />

<br />

{% trans "Imagem de fundo" %}: <input type="file" name="bkg_file" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="bkg_static" {% if form.bkg_static %}checked{% endif %} /> {% trans "Estática" %} <i>{% trans "(a imagem não se meche com a página)" %}</i><br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="bkg_repeat" {% if form.bkg_repeat %}checked{% endif %} /> {% trans "Repetida" %}<br />

<br />

{% trans "Anexos" %}: <br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="attach1" size="30" /> {% trans "Nome"%}: <input type="text" name="attach1_name" id="attach1_name" style="font-size: 1em;" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="attach2" size="30" /> {% trans "Nome"%}: <input type="text" name="attach2_name" id="attach1_name" style="font-size: 1em;" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="attach3" size="30" /> {% trans "Nome"%}: <input type="text" name="attach3_name" id="attach1_name" style="font-size: 1em;" /><br />

<br />
<br />

{% if captcha %}
	{% trans "Para garantir que você não é um bot, por favor responda o captcha:" %} <i>{% trans "(usuários logados não precisam fazer isso)" %}</i><br />
	{{ captcha }}
	<br />
	<br />
{% endif %}

