{% extends "base.html" %}

{% block content %}

	<table>
		<tr>
			<td>
				<form action="" method="post" style="margin-bottom:20px" enctype="multipart/form-data" name="mainForm" id="mainForm">
				<input type="image" border="0" name="refresh" width="1px" height="1px" src="/icons/empty.gif" />
				
				<h1><input type="text" name="title" id="title" value="{{ form.title|escape }}" style="font-size: 1em; width: 100%" /></h1>
				<hr>
				<br>
				<h2 class="alt"><textarea name="text" id="text" rows="4" class="alt" style="font-size: 1em; width: 100%">{{ form.text|escape }}</textarea></h2>
			
				<span class="large">
					{% trans "Adicionar tarefas (uma por linha)" %}:<br>
					<textarea name="items" id="items" rows="5" cols="40" style="width: 100%">{{ form.items|escape }}</textarea>
					
					<br />
					<br />
					
					{% include "page.edit.html" %}
					
					<br />
				</span>
			
				<input type="hidden" name="edit" value="1">
				<input type="submit" name="Save" value="{% trans 'Salvar' %}" />
				</form>
				
				<br />
				<br />
				
				{% include "todo.items.html" %}
				
			</td>
			<td style="width:200px; vertical-align:top;">
				{% include "wikisyntax.html" %}
			</td>
		</tr>
	</table>
	
{% endblock %}
