{% extends "base.html" %}

{% block content %}

	<table>
		<tr>
			<td>
				<form action="" method="post" style="margin-bottom:60px" enctype="multipart/form-data" name="mainForm" id="mainForm">
				<h1>{% trans "Nome da página" %}: <input type="text" name="title" id="title" value="{{ form.title|escape }}" style="font-size: 1em;" /></h1>
				<hr>
				<br>
				
				<span class="large">
					<textarea name="text" id="text" rows="25" cols="40" style="width: 100%">{{ form.text|escape }}</textarea>
					
					<br />
					<br />
					
					{% include "page.new.html" %}
					
				</span>
				
				<input type="submit" value="{% trans 'Salvar' %}" />
				</form>
			</td>
			<td style="width:200px; vertical-align:top;">
				{% include "wikisyntax.html" %}
			</td>
		</tr>
	</table>

{% endblock %}