{% extends "base.html" %}

{% block content %}

	<table>
		<tr>
			<td>
				<form action="" method="post" style="margin-bottom:60px">
				<h1>{% trans "Nome da página" %}: <input type="text" name="title" id="title" value="{{ form.title|escape }}" style="font-size: 1em;" /></h1>
				<hr>
				<br>
				
				<span class="large">
					<textarea name="text" id="text" rows="40" cols="40" style="font-size: 1em; width: 100%">{{ form.text|escape }}</textarea>
					
					<br />
					<br />
					
					{% trans "Outras opções" %}:<br />
					<input type="checkbox" name="private" {% if form.private %}checked{% endif %} /> Página privada <i>(apenas o criador pode vê-la)</i><br />
					
					<br />
					<br />
					
					{% if captcha %}
						Para garantir que você não é um bot, por favor responda o captcha: <i>(usuários logados não precisam fazer isso)</i><br />
						{{ captcha }}
						<br />
						<br />
					{% endif %}
				</span>
				
				<input type="submit" value="Salvar" />
				</form>
			</td>
			<td style="width:200px; vertical-align:top;">
				{% include "wikisyntax.html" %}
			</td>
		</tr>
	</table>

{% endblock %}