html, body {
  height:100%;
  width:100%;
}

.header {
  border-bottom:1px solid #C9D7F1; 
  height: 22px;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  background:#FFFFFF;
  z-index: 4000;
}

.content {
  padding-top:52px;
  width:100%;
  margin:0 auto;
}

div.gmap { 
  display: block; 
  vertical-align: middle; 
  margin: 5px; 
  line-height:1.4em;
}

h2.alt div.gmap { 
  line-height:1em;
  font-size: 75%;
}

.left  { position: relative; float: left; margin-top: 1em; padding: 0; }
.right { position: relative; float: right; margin: 1em; padding: 0; }

p { text-align: justify; }
p:first-line { margin-left:2em; }

